/*---------------------------------------------SEÇÃO TAGS-----------------------------------------------------*/


body{
    margin: 0px;
    text-align: center;
    font-family: "Dancing Script", cursive;
    color: white
}
h1{
    margin-top: 0;
   
    margin: 0 auto 0 auto;
    
}

.top-container{
    background-color: #58A399;
    position:relative;
    padding-top: 100px;
    height: 350px;
}

.cssicon{
    width:3%;
    position:absolute;
    right:20%;
    bottom: 80%;
}

.htmlicon{
    width: 4%;
    position:absolute;
    top: 85%;
    right:80%;
    
}

.imagemcabecalho{
    position: relative;
    width: 20%;

}
.fotoautor{
    padding-top: 5%;
    width: 15%;
}
.subtitulo{
    font-family: "Rajdhani", sans-serif;
    color:white;
}
/*---------------------------------------------SEÇÃO TAGS-----------------------------------------------------*/
